#information-window {
  padding: 5px;
  margin-right: auto;

  .reset-button {
    margin-top: 10px;
    width: 235px;
    height: 195px;
    font-size: 40px;
    border-radius: 10px;
    font-weight: bold;
    background: deepskyblue;
    color: white;
  }

  #info-text {
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
  }
}