.cell {
  min-width: 45px;
  min-height: 45px;
  display: inline-block;
  &.empty {
    background: rgba(90, 90, 90, 0.2);
  }

  border-radius: 4px;
  border: 1px solid rgba(90, 90, 90, 0.2);
  &[class*="fill-"] {
    box-shadow: inset 0px 0px 4px 3px rgba(0,0,0,.1), inset 0px 0px 4px 3px rgba(0,0,0,.1);
  }
  &.fill {
    &-11 {
      background: cyan;
    }
    &-12 {
      background: blue;
    }
    &-13 {
      background: orange;
    }
    &-14 {
      background: lightyellow;
    }
    &-15 {
      background: mediumpurple;
    }
    &-16 {
      background: greenyellow;
    }
    &-17 {
      background: red;
    }

    &-1 {
      background: darkcyan;
    }
    &-2 {
      background: darkblue;
    }
    &-3 {
      background: darkorange;
    }
    &-4 {
      background: yellow;
    }
    &-5 {
      background: rebeccapurple;
    }
    &-6 {
      background: yellowgreen;
    }
    &-7 {
      background: darkred;
    }
  }
}
